 /* div {
    color : black;
    border: 1px solid red;
  }  */
@font-face{
  font-family: 'Daydream';
  src: url(/src/fonts/MonsterFriendFore.otf);
  font-weight: bold;
  font-style: bold;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.estadisticas {
  background-image: url("../imagenes/fondoestadisticas.jpg");
  display: flex;
  flex-direction: column;
  font-family: Daydream;
  color: #3f1e03;
  background-color: #5c725c;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
}

.reloj{
  margin-left: 10px;
}

.titulogame img {
  max-width: 100%; /* La imagen nunca será más ancha que su contenedor */
  height: auto;
}

/* Estilos para dispositivos móviles (ancho máximo de 768px) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
     /* Cambia la dirección de flex a columna */
  }

  .estadisticas {
    order: 2; /* Cambia el orden del elemento, moviéndolo hacia abajo */
    width: auto;
    height: auto;
    /* Ocupa el ancho completo en dispositivos móviles */
  }

  .game-container {
    order: 1; /* Cambia el orden del elemento, moviéndolo arriba */
    width: auto;
    height: 300px;
  }
}
  

  .game-container {
    background-image: url("../imagenes/fondoformulario.gif");
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto; /* Establece la altura al 100% de la pantalla */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: space-between
    
  }


.guardarjson{
    position: absolute;
    top: 10px; 
    right: 10px; 
    color: #fff; 
    padding: 10px 20px; 
    border: none;
}


.guardarbutton{
    background-image: url('../imagenes/guardar\ partida.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: transparent; 
    border: none; 
    width:  125px; 
    height: 85px; 
    cursor: pointer; 
}
@media (max-width: 768px) {
  .guardarbutton {
    width:  60px; 
    height: 42px; 
  }



  .game-container {
    order: 1; /* Cambia el orden del elemento, moviéndolo arriba */
  }
}

.enemy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  margin-bottom: 20px;
  font-size: 18px;  
}

.spanenemy{
  
  display: flex;
  justify-content: center;
  align-items: center;
    color: #700000;
    margin-left: 10px;
    
}
.mensaje{
  margin-left: 10px;
}


.bienvenidaPlayer{
  margin-left: 10px;
}
.scoreboard{
  margin-left: 10px;
}
.recruit{
  margin-left: 10px;
}
.sesiontime{
  margin-left: 10px;
}

.attack-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3f69629a;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
  outline: none;
  margin: 5px;
  font-family: Daydream;
}
.imageenemy {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200%;
  height: auto; 
}

@media (max-width: 768px) {
  .titulogame img {
    display: none;
  }
}
@media (max-width: 768px) {
  .imageenemy {
    position: relative;
    max-width: 100%; /* La imagen nunca será más ancha que su contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción original */
  }
}
.enemycontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: auto; 
  width: 500px;
  margin-right: 550px; 
}
/* ------------------------------------------------------------------------------------------------------- */
/* configuracion form */
.fondoform{
  background-image: url('/src/imagenes/fondoformulario.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.formularioreg{
  color: #ffffff;
  padding: 2rem 3rem;
  text-align: center;
  width: 50%;
  box-shadow: 0 0 25px #222;
  backdrop-filter: blur(3px);
  font-family: Daydream;
  }
@media (max-width: 768px) {
  .formularioreg {
    width: 80%;
  }
}
.formularioreg button {
  background-color: #3c572d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.formularioreg label {
  display: block;
  font-weight: bold;
  font-family: Daydream;
}
.formularioreg select {
  width: 30%;
}
/* ---------------------------------------------------------------------------- */
.modalinsert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Estilo para el modal */

.ReactModal__Content {
  position: relative;
  margin: auto;
  height: 200px;
  width: 80%; 
  max-width: 400px; 
  padding: 20px; 
}
/* ----------------------------------------------------------------------------------------------- */
/*  */
.card {
  display: flex;
  display: inline-block;
  border: 5px solid #133836;
  padding: 50px;
  margin: 10px;
  cursor: pointer;
  background-color: rgb(197, 168, 73); /* Color de fondo predeterminado */
  color: rgb(14, 88, 109); /* Color de texto predeterminado */
}
/* Estilo adicional para tarjetas con hover (cuando el mouse pasa por encima) */
.card:hover {
  background-color: #a3d871; /* Cambia el color de fondo al pasar el mouse por encima */
  border: 5px solid #174d63; /* Cambia el borde al pasar el mouse por encima */
}

/* --------------------------------------------------------------------------------------- */
.character {
  position: absolute;
  width: 230px;
  height: 230px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  margin-left: 20px; /* Añade margen izquierdo para separar del borde izquierdo */
}

@media (max-width: 768px) {
  .enemycontainer{
    margin-right: 50px;
  }
}
.pet{
  position: absolute;
  color: #e9e9e9;
  font-family: Daydream;
  background-color: rgb(10, 69, 69);
  border-radius: 20px;
  height: 100px;
  width: 320px;
}
@media (max-width: 768px) {
  .character {
    display: none;
  }
  .pet{
    display: none;
  }
}
.imagenaliado{
  width: 290px;
  height: 290px;
}

.audio-control-container {
  position: absolute;
  top: 20px; 
  right: 45px; 
  margin-top: 90px;
}

.audio-control-buttonon {
  background-image: url("../imagenes/iconosonidooff.png");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  color: transparent; 
  border: none; 
  cursor: pointer; 
  padding: 40px 40px;
  cursor: pointer;
}
.audio-control-buttonoff {
  background-image: url("../imagenes/iconossonidoon.png");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  color: transparent; 
  border: none; 
  cursor: pointer; 
  padding: 40px 40px;
  cursor: pointer;
}

.audio-control-button:hover {
  background-color: rgba(179, 137, 0, 0.575);
}
@media (max-width: 768px) {
  .audio-control-container {
    position: absolute;
    top: 5px; 
    right: 30px; 
    margin-top: 70px;
  }
  
  .audio-control-buttonon {
    background-image: url("../imagenes/iconossonidoon.png");
    padding: 20px 20px;
    cursor: pointer;
  }

  .audio-control-buttonoff {
    background-image: url("../imagenes/iconosonidooff.png");
    padding: 20px 20px;
    cursor: pointer;
  }


  .audio-control-button:hover {
    background-color: rgba(179, 137, 0, 0.575);
  }
}

