/* div {
    color : black;
    border: 1px solid red;
  } */
.container{
    display: flex;
    width: 100%;
    height: 100vh;
}

.estadisticas {
  display: flex;
  flex-direction: column;
  
  width: 30%;
  background-color: #372E21;
}
.titulogame img {
  max-width: 100%; /* La imagen nunca será más ancha que su contenedor */
  height: auto;
}

/* Estilos para dispositivos móviles (ancho máximo de 768px) */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambia la dirección de flex a columna */
  }

  .estadisticas {
    order: 2; /* Cambia el orden del elemento, moviéndolo hacia abajo */
    width: 100%; /* Ocupa el ancho completo en dispositivos móviles */
  }

  .game-container {
    order: 1; /* Cambia el orden del elemento, moviéndolo arriba */
  }
}

  
  .pet-message {
    color: #282c34;
  }
  

.game-container {
  background-image: url("../imagenes/mapleforest02.gif");
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.guardarjson{
    position: absolute;
    top: 10px; 
    right: 10px; 
    color: #fff; 
    padding: 10px 20px; 
    border: none;
}


.guardarbutton{
    background-image: url('../imagenes/guardar\ partida.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: transparent; 
    border: none; 
    width:  125px; 
    height: 85px; 
    cursor: pointer; 
}
@media (max-width: 768px) {
  .guardarbutton {
    width:  60px; 
    height: 42px; 
  }



  .game-container {
    order: 1; /* Cambia el orden del elemento, moviéndolo arriba */
  }
}

.character {
  width: 100px;
  height: 100px;
  background-color: #00aaff;
  margin-bottom: 20px;
}

.enemy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  margin-bottom: 20px;
  font-size: 18px; 
}

.spanenemy{
    color: #700000;
}

.attack-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #cc823d;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
  outline: none;
  margin: 5px;
}
.imageenemy {
  max-width: 200%; /* La imagen nunca será más ancha que su contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción original */
}

@media (max-width: 768px) {
  .titulogame img {
    display: none;
  }
}
@media (max-width: 768px) {
  .imageenemy {
    max-width: 100%; /* La imagen nunca será más ancha que su contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción original */
  }
}
.enemycontainer{
  justify-content:center ;
  height: auto;
  width: 300px;
}
.aliado {
  top: -100px; /* Ajusta la distancia desde la parte superior */
  right: 800px; /* Ajusta la distancia desde la derecha */
  transform: scale(0.4); /* Escala el elemento al 70% de su tamaño original */
  /* Otros estilos si es necesario */
}